#---------------------------------------------------------------#
#--------------SOLR STATISTICS CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# These configs are only used by the SOLR interface/webapp to   #
# track usage statistics.                                       #
#---------------------------------------------------------------#

##### Usage Logging #####
# set this to be the port you run the dspace "solr" webapp
# on, by default, we are assuming a test configuration with
# tomcat still running on port 8080
server = {{ dspace_solr_host }}:{{ dspace_solr_stats_server_port }}/solr/statistics

# A comma-separated list that contains the bundles for which the bitstreams will be displayed
query.filter.bundles=ORIGINAL

# control solr statistics querying to filter out spider IPs
# false by default
#query.filter.spiderIp = false

# control solr statistics querying to look at "isBot" field to determine
# if record is a bot. true by default.
#query.filter.isBot = true

# URLs to download IP addresses of search engine spiders from
spiderips.urls = http://iplists.com/google.txt, \
                 http://iplists.com/inktomi.txt, \
                 http://iplists.com/lycos.txt, \
                 http://iplists.com/infoseek.txt, \
                 http://iplists.com/altavista.txt, \
                 http://iplists.com/excite.txt, \
                 http://iplists.com/misc.txt, \
                 http://iplists.com/non_engines.txt

# younga3 added.
statistics.items.dc.1=dc.identifier
statistics.items.dc.2=dc.date.accessioned
statistics.items.type.1=dcinput
statistics.items.type.2=date
statistics.default.start.datepick = 01/01/1977

## UW Libraries customization: timeout (in milliseconds) for solr client to send stats to solr server
uw_solr_client_timeout=500
#
